@{
    <link href="~/Content/Probe.css?rfrsh=true" rel="stylesheet" />
    <script src="~/Scripts/ProbeScripts/probe.js?rfrsh=true"></script>
}

@*<div id="DynamicContent" style="font-size:small">
    <p>@Html.Raw(ViewBag.DynamicBenefits)</p>
</div>*@



<div class="vertScrollOnly" style="font-size:smaller">
    @Html.Raw(ViewBag.DynamicBenefits)
</div>

<script type="text/javascript">

    //if (!Modernizr.csscolumns) {
    //    $(".colWrap2").columnize({ columns: 2, lastNeverTallest: true, buildOnce: true });
    //    $(".colWrap3").columnize({
    //        columns: 3,
    //        lastNeverTallest: true,
    //        buildOnce: true,
    //        doneFunc: function () {
    //            $("#tabs").css('visibility', 'visible');
    //        }
    //    });
    //}

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    $('.currency').blur(function () {
        $('.currency').formatCurrency();
    });

    $("[class^='benValue']").each(function () {
        $(this).unbind("change").on("change", function () {
            var strg=$(this).attr("id")+"";
            strg=strg.substr(8)
            var model = {}
            model.BenefitId = strg;
            model.ProjectId='@ViewBag.PROJiD';
            model.BenefitValue=$(this).val();
            var t=$(this).prev().val();
            model.BenefitLevel=t
            var str="/Probe/Home/updateProjectBenefits"
            $.ajax({
                type: 'POST',
                url: str,
                data: model,
                async: false
            }).success(function (msg) {

                //location.href="/Probe/Home/SelectedProject/"+projId;
            })
        })
    })




    $("[id^='benLevel']").each(function () {
        $(this).unbind("change").on("change", function () {
            var strg=$(this).attr("id")+"";
            strg=strg.substr(8)
            var model = {}
            model.BenefitId = strg;
            model.ProjectId='@ViewBag.PROJiD';
            model.BenefitLevel=$(this).val();
            var t=$(this).next().val();
            model.BenefitValue=t
            var str="/Probe/Home/updateProjectBenefits"
            $.ajax({
                type: 'POST',
                url: str,
                data: model,
                async: false
            }).success(function (msg) {

                //location.href="/Probe/Home/SelectedProject/"+projId;


            })
        })
    })


    DenyAccess('@ViewBag.Access');

</script>
